/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top Bar Styling */
.top-bar {
  background-color: #ffcb11;
  color: #fff;
  padding: 1px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 0.5rem;
  
}

.social-icon-image {
  height: 30px;
}

/* Navbar Styling */
.navbar {
  background-color: #133E87;
  padding: 1rem;
  position: relative;
  z-index: 10;
}

.navbar-container {
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-image {
  height: 60px;
  margin-right: 180px;
}

.navbar-menu {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navbar-menu a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Mobile Toggle Button */
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Design */
@media screen and (min-width : 400px) and (max-width : 600px) {
  .navbar-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar-logo {
    margin-right: auto;
  }

  .navbar-toggle {
    display: block;
    margin-right: 1rem;
    order: -1;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: #133E87;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
    padding-top: 2rem;
    padding-left: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .navbar-menu.active {
    display: flex;
    transform: translateX(0);
  }

  .navbar-menu a {
    padding: 1rem 1.5rem;
    color: #fff;
    text-align: left;
    width: 100%;
  }
.navbar-logo-image {
 height: 50px;
 margin-left: 220px;
}
}
